#volta-pag img{
    width: 2.5rem;
    position: relative;
    left: 27rem;
    top: 4rem;
    height: 2.5rem;
    position: relative;
    background: #E38201;
    transform: rotate(180deg);
    margin: 0.125rem;
    border-radius: 50%;
}


