.chefs{
    font-family: 'Sofia Sans';
}

#chefs-titulo{
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
}

.chefs-flex{
    display: flex;
    flex-direction: row;
}

.chefs-pessoa{
    display: flex;
    flex-direction: column;
    width: 28rem;
}


.chefs-pessoa h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.375rem;
}

.chefs-pessoa p{
    text-align: justify;
    line-height: 1.375rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.chef-imagem{
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.chefs-pessoa-daniel{
    background-image: url(../img/chefs-imagens/Daniel.jpg);
}

.chefs-pessoa-izabel{
    background-image: url(../img/chefs-imagens/Izabel.jpg);
}

.chefs-pessoa-larissa{
    background-image: url(../img/chefs-imagens/Larissa.jpg);
}