main{
  font-family: 'Sofia Sans';
}

.input-texto{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario {
  border-radius: 5px;
  padding: 20px;
}

#centralizar{
  text-align: center;
}

#img1, #img2, #img3{
  width: 15.25rem;
  height: 10lauto;
  text-align: center;
  margin-left: 2rem;
}

.button{
  margin-top:30px;
  padding:20px 30px;
  height: 4rem;
  width: 15rem;
  border-radius:20px;
  background-color: #32a345;
  color:#FFF;
  display:inline-block;
  cursor:pointer;
  margin-right:30px;
}

.button:hover {
  background-color:#48d05f;
}

.button { 
  font-family: 'Sofia Sans';
  color: #000;
  text-decoration: none;
}

#centro{
text-align: center;
}

#div1{
width: 640px;
height: 100px;
display: inline-block;
margin-right: 5rem;
}

#div2{
width: 640px;
height: 100px;
display: inline-block;
}