.models {
    display:none;
}

.menu-openner {
    margin-right: 0;
    font-size: 22px;
    padding: 5px 0;
}

.menu-openner span {
    margin-right:10px;
}

.preco {
    font-family: 'Sofia Sans';
    transition:all ease .2s;
    overflow-x:hidden;
}

.preco h3{
    font-size: 16px;
    color: #333;
    margin:  0 0 1rem 0;
}

.cart--area {
    padding:5px;
    margin-top: 6rem;
}

.cart--area h2{
    font-size: 16px;
    color: #333;
    margin:0;
}

.lista h2{
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin: 0;
}

.main-carrinho {
    padding: 0 30px;
    position: relative;
    right: 1rem;
}

h1 {
    font-family: 'Sofia Sans';
}

.models-scrow::-webkit-scrollbar{
    display: none;
}

.models-area {
    font-family: 'Sofia Sans';
    display: flex;
    justify-content: left;
    overflow-x: auto;
    padding: 1rem 0;
    overflow: hidden;
}

.models-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 1.875rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(255 153 0);
    overflow: hidden;
    height: 19rem;
    transition: all 0.2s ease-out; 
}

.models-item:hover{
    transform: scale(1.1);
    cursor: pointer;
    border-color: rgb(255 153 0);
}

.models-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.models-item--img img {
    width: 14.25rem;
    height: 9.75rem;
}

.models-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#ed9900;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-62px;
    transition:all ease .2s;
}

.models-item a:hover .models-item--add {
    background-color:#c88a18;
}

.models-item--price {
    position: relative;
    top: 1rem;
    font-size: 26px;
    color: rgb(239, 158, 6);
    font-weight: 600;
    margin-top: 10px;
}

.models-item--name {
    font-size:14px;
    color:#000;
    margin-top:5px;
}


.modelsWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.modelsWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.modelsBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modelsBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.modelsBig img {
    height: 208px;
    width:auto;
}

.modelsInfo {
    flex:1;
    font-family: 'Sofia Sans';
    padding-bottom:50px;
}

.modelsInfo h1 {
    margin-top:50px;
}

.modelsInfo .modelsInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family: 'Sofia Sans';
}

.modelsInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.modelsInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.modelsInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.modelsInfo--size:hover {
    background-color:#CCC;
}

.modelsInfo--size.selected {
    background-color:#399ade;
    color:#FFF;
}

.modelsInfo--size.selected span {
    color:#D6D6D6;
}

.modelsInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.modelsInfo--price {
    display:flex;
    align-items:center;
}

.modelsInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}

.modelsInfo--qtarea {
    display:inline-flex;
    background-color:white;
    height:25px;
    position: relative;
    bottom: 62px;
    left: 156px;
    border-radius: 13px;
}

.modelsInfo--qtarea.modal{
    bottom: 0;
    left: 0;
}

.modelsInfo--qtarea button {
    font-size:1.5em;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    border: 1px solid #c8c8c86b;
    border-radius: 5px;
}

.modelsInfo--qtmais{
    color: white;
    background-color: red;
}

.modelsInfo--qtmenos{
    background-color: white;
}

.modelsInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 9px;
    color:#000;
    border-top: 1px solid #c8c8c86b;
    border-bottom: 1px solid #c8c8c86b;
    border-radius: 1px;
}

.modelsInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.modelsInfo--addButton:hover {
    background-color:#32a345;
}


.modelsInfo--addButton a{
    color: #000;
    text-decoration: none;
}

.modelsInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}

.modelsInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

.cart {
    margin-bottom:20px;
}

.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.cart--item-nome {
    flex:1;
}

.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 2px solid #646464;
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.cart--totalitem:nth-last-child(1){
    border-top: none;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size:17px;
    color:#000;
}

.cart--totalitem.big span:first-child{
    margin-right: 1rem;
    font-weight: normal;
}

.cart--totalitem h2{
    font-size: 15px;
    margin: 0;
}

.botoes{
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.cart--finalizar {
    font-size: 15px;
    border-radius: 11px;
    background-color: #84f597;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    transition: all ease .2s;
    width: 127px;
    height: 33px;
    margin-right: 1rem;
}

.cart--finalizar:hover {
    background-color:#2af14b;
}

.cart--finalizar a{
    text-decoration: none;
    color: #000;
    position: relative;
    top: 9px;
}

.botao-cancela{
    font-family: 'Sofia Sans';
    font-weight: 600;
    font-size: 15px;
    border-radius: 11px;
    background-color: rgb(255, 119, 119);
    border: 1px solid #000000;
    width: 127px;
    height: 33px;
    cursor: pointer;
    margin-right: 1rem;
}

.botao-cancela:hover{
    background-color: rgb(245, 36, 36);
}

.botao-cancela a{
    text-decoration: none;
    color: #000;
}

.adicionar-botao{
    font-family: 'Sofia Sans';
    font-weight: 600;
    font-size: 15px;
    border-radius: 11px;
    background-color: rgb(253, 219, 105);
    border: 1px solid #000000;
    cursor: pointer;
    height: 33px;
    margin-right: 48vw;
}

.adicionar-botao:hover{
    background-color: rgb(248, 202, 51);
}

.adicionar-botao a{
    text-decoration: none;
    color: #000;
}

.botao-esquerdo{
    position: absolute;
    right: 0.5rem;
    bottom: -285px;
    transform: translateY(-50%);
    z-index: 100;
    opacity: 90%;
    background: #E38201 center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #ffffff00;
    border-radius: 0.625rem;
    height: 6.5rem;
    width: 3rem;
}

.botao-direito{
    position: absolute;
    left: 2rem;
    bottom: -285px;
    z-index: 100;
    transform: translateY(-50%);
    opacity: 90%;
    background: #E38201 center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #ffffff00;
    border-radius: 0.625rem;
    height: 6.5rem;
    width: 3rem;
}

.botao-direito:hover , .botao-esquerdo:hover{
    cursor: pointer;
}

#seta-botao-esquerdo {
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px rgb(0, 0, 0) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(42deg);
    left: 2.5rem;
    bottom: -203px;
    z-index: 1000;
  }
  
  #seta-botao-direito {
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px  rgb(0, 0, 0) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(220deg);
    right: 1rem;
    bottom: -203px;
    z-index: 1000;
  }
